//
// Main navigation
//
$nav-border: 1px solid rgba($palette-body, .3);

.main-nav__wrap {
    @include center-content();
    @include full-width();

    @include bp($switch-layout) {
    }

}
.main-nav {
    // @include full-width();

    @include bp($switch-layout) {
        @include full-width();
        display:block;
    }   

}
.main-nav__list {

    @include bp($switch-layout) {
        display:flex;
        position:relative;
        text-align:center;
    }

}
.main-nav__item {
    list-style:none outside;
    padding:0;

    @include bp($switch-layout) {
        flex-grow:1;
    }

}
.main-nav__link {
    // @include animate(background);
    // @include border-radius($spacing-sm);
    @include padding();
    @include strong();
    display:block;
    text-decoration:none;

    span {
        @include animate(color);
        color:rgba($palette-body, .65);
    }

    &:hover,
    &:focus,
    &.current {
        background:#f1f1f1;

        span {
            color:$palette-body;
        }

    }

    @include bp($switch-layout) {
        @include padding-y($spacing * 1.5);
        @include padding-x($spacing-lg);
    }

}
.main-nav__toggle {
    @include position-tr($spacing);
    color:$palette-accent-primary;
    display:inline-block;
    text-decoration:none;

    &:hover,
    &:focus {
        color:$palette-accent-primary;
    }

    @include bp($switch-layout) {
        @include hidden();
    }

}
.main-nav-toggle__text {
    @include hidden();
    @include margin-x(0, 3px);
    @include strong();
    vertical-align:25%;
}